* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.container {
  display: flex;
  gap: 5%;

  max-width: 50%;
  padding: 20px;
  margin-left: 15%;
  margin-top: -400px;
}

.slider-wrapper {
  position: relative;
  width: 500px;
  overflow: hidden;
}

.grid-img {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.grid-img img {
  width: 100%;

  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.slider-btn.prev {
  left: 10px;
}

.slider-btn.next {
  right: 10px;
}

.content {
  max-width: 400px;
}

h1 {
  font-size: 36px;
  margin-bottom: 5px;
}

.sub-title {
  margin-bottom: 15px;
  font-size: 20px;
  color: #555;
  opacity: 0.8;
}

p {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 15px;
}

p.price {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.size-chart {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.size-option {
  padding: 8px 16px;
  font-size: 18px;
  border: 2px solid #333;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: black;
}

.cart {
  margin-top: 100px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #dda86b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  color: white;
  position: sticky;
  left: 66%;
  top: -10px;
  width: 100%;
}

.cart-value {
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 2px;
  margin-bottom: 15px;
}

.cart-value button {
  justify-self: center;
  font-size: 32px;
  border: none;

  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.cart-value input {
  border: none;
  width: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
}

#display-item {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.add-to-cart {
  font-size: 18px;
  padding: 12px 0;
  border: 2px solid #333;
  border-radius: 8px;
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 0;
}

.add-to-cart:hover {
  background-color: #fcdcb8;

  transform: scale(1.05);
}

.size-info {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  margin-top: 20px;
  z-index: 99;

  transform: translate(-50%, -50%) scale(0);
  opacity: 0;

  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
#info {
  color: #ffffff;
  font-size: 18px;
  transition: color 0.5s ease-in-out;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
}

#info:hover {
  color: #fcdcb8;
}

.size-info.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.container-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto;
}

.shop-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 50px;
  mix-blend-mode: multiply;
}

.shop-name {
  font-size: 18px;
  margin: 0;
}

.status {
  font-size: 14px;
}

.follow-button {
  padding: 8px 16px;
  border: 1px solid black;
  background-color: #fff;

  color: black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.follow-button:hover {
  background-color: #fcdcb8;
}

.review-detail {
  margin-bottom: 15%;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.star-icon {
  margin-bottom: 17px;
  width: 20px;
  mix-blend-mode: multiply;
}

.process-time {
  font-size: 14px;
  color: #ffffff;
}

table {
  width: 100%;
  height: 96%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #eaeaea;
}

.move-out {
  transform: translateX(100%);
}

.tab-container {
  margin-left: 16%;
  margin-right: 35%;
  color: #ffffff;
  background-color: #dda86b;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  border-bottom: 2px solid #ddd;
}

.tab-button {
  flex: 1;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  color: #ffffff;
}

.tab-button.active {
  border-bottom: 2px solid black;
  color: #ffffff;
}

.tab-content {
  padding: 20px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
button {
  background-color: #dda86b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 15px;
}

.button-card {
  background-color: #dda86b;
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 15px;
}
.popular-products {
  padding: 50px 20px;
  text-align: center;
}

.popular-products h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.products {
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
}

.card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  width: 200px;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card .detail-product {
  padding: 1rem;
}

.card h3 {
  font-size: 20px;
  margin: 10px 0;
}

.card p {
  color: #dda86b;
  font-size: 18px;
  margin-bottom: 10px;
}

.love-icon {
  color: grey;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}

.love-icon.active {
  color: red;
}

header {
  z-index: 999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dda86b;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

/* mobile */
@media (max-width: 767px) {
  body {
    background-color: lightblue;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: lightgreen;
  }
}

/* Laptop and Small Desktop */
@media (min-width: 1025px) and (max-width: 1440px) {
  * {
    font-size: 95%;
  }

  .content {
    width: 90%;
  }
  .cart {
    bottom: 30%;
    max-width: 200px;
    max-width: 270px;
  }
  .cart-value button {
    width: 20px;
    height: 20px;
  }
  .container-shop {
    padding: 12px;
    max-width: 500px;
  }
  .logo {
    width: 35px;
  }
  .shop-name {
    font-size: 14px;
  }
  .size-chart button {
    font-size: 12px;
    vertical-align: middle;
  }
  .process-time {
    font-size: 12px;
  }

  .status {
    font-size: 10px;
  }
  .review-detail {
    margin-bottom: 12%;
  }
  .shop-name {
    font-size: 10px;
  }
  .rating {
    margin-bottom: 14px;
  }
  .logo {
    width: 26px;
  }
  .star-icon {
    width: 20px;
  }
  .process-time {
    font-size: 10px;
  }
}
